.app-todoItem {
  margin: 10px auto;
  min-width: 400px;
  max-width: 900px;
  & form {
    border-radius: 16px;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 0.2fr;
    grid-auto-rows: 64px;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    border: 2px double #f39837;

    padding: 10px;
    background: center no-repeat
      url("../../../assets/JPGImages/shiny-metal-plate-background-900x340.jpg");

    & .actionsEdit {
      position: absolute;
      right: 115px;
      top: 15px;
      width: 54px;
      height: 54px;
      border-radius: 12px;
      background: no-repeat url("../../../assets/svgImages/edit.svg");
      box-shadow: 2px 0px 9px #c9a728;
      &:active {
        box-shadow: 0px 0px 4px #c9a728;
        translate: 1px 1px;
      }
    }
    &.onEdit {
      & textarea,
      & .app-btn-save--position,
      & .app-btn-delete--position {
        display: none;
      }
    }
  }

  &--wrapper {
    padding: 20px 0;
  }
  &--header {
    height: 64px;
  }
  &--wrapper.onEdit {
    & textarea,
    & .app-btn-save--position,
    & .app-btn-delete--position {
      display: none;
    }
  }
  &--title {
    display: flex;
    align-items: center;
    color: #bb7306;
    font-family: "Lobster", cursive;
    font-size: 2.5rem;
    text-align: left;
    padding: 0 10px;
  }
}
input,
textarea {
  border-radius: 6px;
  border: 2px solid #df7b0f;
  background-color: #ffe196;
  outline: none;
  font-size: 24px;
}
textarea {
  overflow: auto;
  resize: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}
.checkbox {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: inset 0 0 9px 2px #bb7306;
  width: 58px;
  height: 58px;
  &--checked {
    background-image: url(../../../assets/svgImages/check.svg);
    box-shadow: inset 0 0 1px 3px #bb7306;
  }
}
.todoItem-btn--save {
  background-color: #40fc4c;
  background-image: url(../../../assets/svgImages/add-cross.svg);

  &:active {
    box-shadow: 1px 1px 9px #326736;
  }
}
.todoItem-btn--delete {
  background-color: #40e9fc;
  background-image: url(../../../assets/svgImages/trash-alt.svg);
  &:hover {
    background-image: url(../../../assets/svgImages/trash-alt-pink.svg);
  }
  &:active {
    box-shadow: 1px 1px 9px #2f666c;
  }
}
.app-btn-save--position {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.app-btn-delete--position {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}
